.row-fluid
  .span12
    %h1
      Configuration
    %p.explain
      Define your map/reduce algorithms and choose how they will be displayed on the analysis page.

    - if @views.nil?
      .alert.alert-block.alert-warning
        You don't have any view yet! Take a few minutes to create some. And relax: it's just map/reduce.
    - else
      %h2
        %span.counter
          = @views.length
        views defined in the database

- if not @views.nil?
  - @views.each_with_index do |(key, view), index|
    - if index.modulo(3) == 0
      :plain
        <div class="row-fluid visualize">
    .span4
      %a.btn.btn-large.btn-block{href:"#{key}/"}
        %div
          = key
    - if index.modulo(3) == 2 || (@views.length - 1) == index
      :plain
        </div>

.row-fluid
  .span12
    %form#new_view{action:"new", method:"POST"}
      %input.input-block-level{type:"text", name:"name", placeholder:"View name"}
      %input.btn.btn-primary.btn-large{type:"submit", value:"Create a new view"}


- content_for(:js) do
  %script{src: to_media("javascripts/configuration.js")}
